<%-include('include/nav')-%>


    <main>
        <article>


            <div class="col-2">

            </div>



            <div class="filter-section">
                <h3>Price</h3>
                <p>

                    <select class="form-select" id="sortBySelect">
                        <option value="" disabled selected>Sort By</option>
                        <option value="popularity">Popularity</option>
                        <option value="price-low-to-high">Price - Low to High</option>
                        <option value="price-high-to-low">Price - High to Low</option>
                        <option value="a-to-z">aA - zZ</option>
                        <option value="z-to-a">zZ - aA</option>
                        <option value="newest-first">Newest First</option>
                    </select>



                </p>
            </div>
            


            <div class="row">

                <div class="productsContainer row" id="productsContainer">


                    <% product.forEach(product=> { %>

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-4 text-center " data-price="<%= product.price %>">

                            <div class="card product-card h-100" style="height: 500px;">
                                <div class="pro-img">
                                    <a href="/productdetail?id=<%= product._id %>" class="prod-img">
                                        <img src="<%= product.images[0] %>" class="card-img-top "
                                            alt="<%= product.product_name %>">
                                    </a>
                                </div>
                                <div class="card-body product-details">
                                    <h5 class="card-title product-title">
                                        <a href="/productdetail?id=<%= product._id %>">
                                            <%= product.product_name %>
                                        </a>
                                    </h5>
                                    <% if (product.offer) { %>
                                        <p class="card-text original-price">&#8377;<%= product.price %>
                                        </p>
                                        <% let offerPrice=product.price - (product.price * product.offer / 100); %>
                                            <p class="card-text offer-price">&#8377;<%= offerPrice.toFixed(2) %>
                                            </p>
                                            <p class="card-text discount-percentage">-<%= product.offer %>%</p>
                                            <% } else { %>
                                                <p class="card-text product-price">&#8377;<%= product.price %>
                                                </p>
                                                <% } %>
                                                    <p class="card-text product-brand">
                                                        <%= product.brand %>
                                                    </p>
                                                    <% if (product.stock> 0) { %>
                                                        <button class="btn btn-primary btn-add-cart">
                                                            <a href="/cart/<%= product._id %>" class="text-white">Add to
                                                                Cart</a>
                                                        </button>
                                                        <% } else { %>
                                                            <p class="out-of-stock text-danger">Out of Stock</p>
                                                            <% } %>
                                </div>
                            </div>
                        </div>

                        <% }) %>
                </div>

            </div>


        </article>
    </main>

    <%-include('include/foot')-%>